@page "/OrderManager"
@model BookStore.Pages.Management.OrderManagement.OrderManagerModel
@using BookStore.Models;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<partial name="_SuccessNotification" model=@Model.StatusMessage />
<script>
    function submitForm() {
        var form = document.getElementById("statusForm");
        // Hiển thị thông báo trước khi submit
        var isConfirmed = confirm("Thay đổi trạng thái đơn hàng?");

        // Nếu người dùng đồng ý, thì submit form
        if (isConfirmed == true) {
            form.submit();
        }
        else {
            //event.preventDefault();
            window.location.href = './OrderManager';
            //Kích hoạt sự kiện submit trên form ẩn để load lại trang
            document.getElementById('hiddenForm').submit();
        }
    }
</script>

<script src="~/assets/js/main.js"></script>

@{
    var pagingmodel = new BookStore.Helpers.PagingModel()
            {
                currentPage = Model.CurrentPage,
                countPage = Model.CountPages,
                generateUrl = (int? p) => Url.Page("./OrderManager", new { search = Model.searchTitle, p = p })
            };
}
<!-- HEADER DESKTOP-->

<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" asp-action="OrderManagerModel" method="get">
                    <input class="au-input au-input--xl" type="text" name="search" placeholder="Nhập mã đơn hàng" asp-for="@Model.searchTitle" />
                    <button class="au-btn--submit" type="submit">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </form>

                <div class="header-button">
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">@UserManager.GetUserName(User)</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">@UserManager.GetUserName(User)</a>
                                                </h5>
                                                <span class="email">johndoe@example.com</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-account"></i>Account
                                                </a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-settings"></i>Setting
                                                </a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-money-box"></i>Billing
                                                </a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="#">
                                                <i class="zmdi zmdi-power"></i>Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</header>
<!--END HEADER DESKTOP-->

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-5 m-b-35">Quản lý đơn hàng</h1>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                    </div>
                    <div class="table-data__tool-right">
                    </div>
                </div>
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Người đặt hàng</th>
                                <th>Ngày đặt hàng</th>
                                <th>Người nhận</th>
                                <th>Địa chỉ</th>
                                <th>Tổng thanh toán</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.Orders)
                            {
                                <tr>
                                    <td>@order.OrderId</td>
                                    <td>@order.User.UserName</td>
                                    <td>@order.OrderDate</td>
                                    <td>@order.Receiver</td>
                                    <td>@order.Address</td>
                                    <td>@order.TotalPrice</td>
                                    <td>
                                        <form id="statusForm" asp-action="OrderManagerModel" method="post" asp-route-id="@order.OrderId" asp-route-currentPage="@Model.CurrentPage" asp-route-searchId="@Model.searchTitle">
                                            <div class="rs-select2--light rs-select2--md">

                                                <select class="js-select2" name="sid" onchange="submitForm()" asp-for="@order.StatusId">

                                                    @foreach (var item in Model.Statuss)
                                                    {
                                                        <option value="@item.StatusId">@item.StatusName</option>
                                                    }
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </form>

                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Detail">
                                                <a asp-page="DetailOrder" asp-route-orderId="@order.OrderId"><i class="zmdi zmdi-mail-send"></i></a>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <a asp-page="DetailOrder" asp-route-id="@order.OrderId"><i class="zmdi zmdi-edit"></i></a>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                <i class="zmdi zmdi-more"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <partial name="_paging" model="@pagingmodel"></partial>
            </div>
        </div>
    </div>
</div>

