@page "/DetailImport"
@model BookStore.Pages.Management.ImportManagement.DetailImportModel
@using BookStore.Models;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<partial name="_SuccessNotification" model=@Model.StatusMessage />
<script>
    function submitForm() {
        var form = document.getElementById("cateForm");
        form.submit();
    }
</script>

<script src="~/assets/js/main.js"></script>

@{
    var pagingmodel = new BookStore.Helpers.PagingModel()
            {
                currentPage = Model.CurrentPage,
                countPage = Model.CountPages,
                generateUrl = (int? p) => Url.Page("./DetailImport", new { search = Model.searchTitle, p = p })
            };
}
<!-- HEADER DESKTOP-->

<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" asp-action="AuthorManagerModel" method="get">
                    
                </form>

                <div class="header-button">
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">@UserManager.GetUserName(User)</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">@UserManager.GetUserName(User)</a>
                                                </h5>
                                                <span class="email">johndoe@example.com</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-account"></i>Account
                                                </a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-settings"></i>Setting
                                                </a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-money-box"></i>Billing
                                                </a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="#">
                                                <i class="zmdi zmdi-power"></i>Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</header>
<!--END HEADER DESKTOP-->

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-5 m-b-35">Chi tiết nhập hàng</h1>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                    </div>
                    <div class="table-data__tool-right">
                      
                    </div>
                </div>
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Giá nhập</th>
                                <th>Giá bán</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var import in Model.ImportDetails)
                            {
                                <tr>
                                    <td>@import.ImportDetailId</td>
                                    <td>@import.Book.Title</td>
                                    <td>@import.Quantity</td>
                                    <td>@import.InputPrice</td>
                                    <td>@import.OutputPrice</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <partial name="_paging" model="@pagingmodel"></partial>
            </div>
        </div>
    </div>
</div>



